[%- PROCESS "opac/parts/header.tt2";
    WRAPPER "opac/parts/base.tt2";
    INCLUDE "opac/parts/topnav.tt2";
    ctx.metalinks.push('<link rel="canonical" href="' _ mkurl('', {}, 1) _ '" />');
    ctx.page_title = l("Home") %]
    <h2 class="sr-only">[% l('Catalog Home') %]</h2>
    <div id="searchPusher">Library Catalog</div>
    [% INCLUDE "opac/parts/searchbar_home.tt2" %]
[%- END %]
