<span class="lbl2">
    [% | l('<br/>', '<br/>', '<br/>') %]
      If this is your first time logging in, please [_1] 
      enter your year of birth. EX. 1965 . [_2]
      After logging in, you can change your PIN if [_3]
      so desired. Changing it is highly recommended.
    [% END %]
</span>
